<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Good News — News &amp; Magazine Template</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >

	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

	<!-- Animation Style -->
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

	<!-- Favicon and touch icons  -->
	<link href="icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
	<link href="icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
	<link href="icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
	<link href="icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
	<link href="icon/favicon.png" rel="shortcut icon">

	<!--[if lt IE 9]>
		<script src="javascript/html5shiv.js"></script>
		<script src="javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
   	<!-- Header -->
   	<header id="header" class="header">
	   	<div class="top-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
		              	<div id="logo" class="logo">
							<a href="./" rel="home" title="home">
								<img src="images/logo.svg" alt="Good News" />
							</a>
		            	</div>
		            	<div class="follow-us">
			            	<div class="follow-title">
			            		Follow Us
			            	</div>
			            	<ul class="social-links">
			            		<li class="facebook"><a href="#">Follow us on Facebook</a></li>
			            		<li class="twitter"><a href="#">Follow us on Twitter</a></li>
			            		<li class="google"><a href="#">Follow us on Google</a></li>
			            		<li class="linkedin"><a href="#">Follow us on Linkedin</a></li>
			            		<li class="pinterest"><a href="#">Follow us on Pinterest</a></li>
			            	</ul>
		            	</div>
		            </div><!-- /.col-md-6 -->
		            <div class="col-md-6">
		            	<div class="btn-menu"></div><!-- //mobile menu button -->
		            	<div class="member-area">
		            		<div class="member">
		            			<div class="welcome">
		            				Welcome <span class="name">Maria</span>
			            			<div class="member-options">
			            				<div class="avatar">
			            					<div class="thumb">
			            						<img src="images/user.jpg" alt="image">
			            					</div>
			            					<span class="fullname">Maria Sharapova</span>
			            				</div>
			            				<ul class="options">
			            					<li><a href="#">My Profile</a></li>
			            					<li><a href="#">My Account</a></li>
			            					<li><a href="#">My Saved Items</a></li>
			            				</ul>
			            				<div class="logout"><a href="#">Logout</a></div>
			            			</div>
		            			</div>
		            			
		            		</div>
		            	</div>
		            </div><!-- /.col-md-6 -->
	            </div><!-- /.row -->
	         </div><!-- /.container -->
	   	</div><!-- /.top-wrap -->
		<div class="header-wrap">
		 <div class="container">
		    <div class="row">
				<div class="col-md-9">
					<nav id="mainnav" class="mainnav">
						<ul class="menu">
							<li class="has-children"><a href="index.html">Home</a>
								<ul class="sub-menu">
									<li><a href="index-banner.html">Home with Banner</a></li>
									<li><a href="index-custom.html">Home Customized</a></li>
									<li class="has-children"><a href="#">Third Level Item</a>
										<ul class="sub-menu">
											<li><a href="#">Sublevel 1</a></li>
											<li><a href="#">Sublevel 2</a></li>
											<li><a href="#">Sublevel 3</a></li>
											<li><a href="#">Sublevel 4</a></li>
											<li><a href="#">Sublevel 5</a></li>
										</ul><!-- /.submenu -->
									</li>
								</ul><!-- /.submenu -->
							</li>
							<li class="has-children"><a class="active" href="#">Pages</a>
								<ul class="sub-menu">
									<li><a href="article-endless.html">Articles</a></li>
									<li><a href="article-detail.html">Articles Detail</a></li>
									<li><a href="category-hide-navigation.html">Category Page</a></li>
									<li><a href="contact.html">Contact Page</a></li>
									<li><a href="about.html">About Page</a></li>
									<li><a href="login.html">Login Page</a></li>
									<li><a href="404.html">404 Page</a></li>
								</ul><!-- /.submenu -->
							</li>
							<li class="gn-mega-menu"><a href="category.html">Mega-Menu</a>
								<div class="sub-menu">
									<div class="container">
									<div class="row">
									<div class="col-md-12">
										<div class="mega-item-wrap">
											<div class="mega-item">
												<img src="images/thumbs/11.jpg" alt="image">	
												<h5><a href="#">Usability Testing for Mobile Is Easy</a></h5>
											</div>
											<div class="mega-item">
												<img src="images/thumbs/11-2.jpg" alt="image">	
												<h5><a href="#">Infinite Scrolling Is Not for Every Website</a></h5>
											</div>
											<div class="mega-item">
												<img src="images/thumbs/11-3.jpg" alt="image">	
												<h5><a href="#">Infinite Scrolling Is Not for Every Website</a></h5>
											</div>
											<div class="mega-item">
												<img src="images/thumbs/11-4.jpg" alt="image">	
												<h5><a href="#">Ecommerce UX: 3 Design Trends to Follow and 3 to Avoid</a></h5>
											</div>
											<div class="mega-item">
												<img src="images/thumbs/11-5.jpg" alt="image">	
												<h5><a href="#">University Websites: Top 10 Design Guidelines</a></h5>
											</div>
											<div class="mega-item">
												<img src="images/thumbs/11-6.jpg" alt="image">	
												<h5><a href="#">University Websites: Top 10 Design Guidelines</a></h5>
											</div>
										</div>
										<div class="nav-mega-item">
											In this category:
											<a href="#">All</a>
											<a href="#">Tech</a>
											<a href="#">Apps</a>
											<a href="#">Dev&amp;Design</a>
											<a href="#">Dev&amp;Design</a>
											<a href="#">Gadget</a>
											<a href="#">Mobile</a>
										</div>
									</div>
									</div>
									</div>
								</div><!-- /.submenu -->
							</li>
							<li class="has-children"><a href="category.html">Category</a>
								<ul class="sub-menu">
									<li><a href="category.html">Normal</a></li>
									<li><a href="category-hide-navigation.html">Hide Navigation</a></li>
								</ul><!-- /.submenu -->
							</li>
							<li><a href="ui-elements.html">UI-Elements</a></li>
						</ul><!-- /.menu -->
					</nav><!-- /nav -->
				</div><!-- /.col-md-9 -->
				<div class="col-md-3">
					<div class="search-wrap">
						<div class="search-icon"></div><!-- //mobile search button -->
						<form action="#" id="searchform" class="search-form" method="get" role="search">
							<input type="text" id="s" placeholder="Search" class="search-field">
							<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
							<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
						</form>
					</div><!-- /.search-wrap -->
				</div><!-- /.col-md-3 -->
		    </div><!-- /.row -->
		 </div><!-- /.container -->
		</div><!-- /.header-wrap -->
	</header><!-- /header -->

	<!-- Main -->
	<section id="main" class="about-page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-page-wrap">
						<div class="content-right entry-page">
							<h2 class="title">About Us</h2>
							<p class="subtitle">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
							<div class="simple-slider" data-auto="false" data-effect="slide" data-direction="horizotal">
								<div class="flexslider">
									<ul class="slides">
										<li>
											<img src="images/gallery/3.jpg" alt="image">
										</li>
										<li>
											<img src="images/gallery/4.jpg" alt="image">
										</li>
										<li>
											<img src="images/gallery/5.jpg" alt="image">
										</li>
									</ul>
								</div>
							</div>
							<p>To be a movie-besotted adolescent in the ’70s and early ’80s was to experience, in real time and at an impressionable age, performances that would go on to become icons and monuments. ‘‘This kid doesn’t just act — he takes off into the vapors,’’ wrote Pauline Kael in her review of ‘‘Mean Streets.’’ Not that there was anything airy or abstract about what he was doing, which was transforming himself — physically, vocally, psychologically — with each new role. And in the process, before our eyes, reinventing the art of acting.</p>
							<p>I confess, however, that it took all my professional discipline to resist squandering the time I spent with De Niro on a recent Saturday afternoon in a slack-jawed fanboy recitation of his greatest hits. Oh, my God, you’re Jake LaMotta! You’re Johnny Boy! You’re Travis Bickle! I’m talking to you.</p>
							<p>You forget your dreams, ignore your family, suppress your feelings, neglect your friends, and forget to be happy. Errors of omission are a particularly dangerous type of mistake, because you make them by default.</p>
							<p>To the younger generation, though, he is most recognizably Jack Byrnes, Ben Stiller’s impossible father-in-law in the ‘‘Fockers’’ franchise. And as the reliable heavy in a steady stream of action movies and crime dramas, some (but not all) of them quite good. It has become fashionable to suggest that De Niro’s best work is behind him. But nostalgia is a vice, and a survey of the last four decades of movie history reveals that De Niro has never slackened, diminished or gone away but has rather, year in and year out, amassed a body of work marked by a seriousness and attention to detail that was there from the start.</p>
							<ul class="list">
								<li>Globalization creates interlocking fragility.</li>
								<li>Please, don’t drive a school bus blindfolded.</li>
								<li>We don't learn that we don't learn.</li>
								<li>History is opaque.</li>
								<li>History and society don't crawl. They make jumps.</li>
							</ul>
							<h5>Got any questions?</h5>
							<p>Visit our <a href="#">help center</a> or <a href="#">contact us</a>.</p>
						</div><!-- /.content-right -->
						<div class="content-left">
							<ul class="about-links">
								<li><a href="#">About us</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Happy clients</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Jobs &amp; careers</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Policy</a></li>
							</ul>
							<div class="about-twitter">
								<h5 class="title">Twitter feed</h5>
								<ul class="tweet_list">
									<li>
										<span class="tweet_time">Dec 25</span>
										<span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
									</li>
									<li>
										<span class="tweet_time">Dec 25</span>
										<span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
									</li>
									<li>
										<span class="tweet_time">Dec 25</span>
										<span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
									</li>
								</ul>
								<div class="follow-us">
									<a href="#">Follow Us</a>
								</div>
							</div>
							<div class="about-contact">
								<h5 class="title">Contact us</h5>
								<p>1639 H Street Northwest,
								Washington, District of Columbia.</p>
								<p>Tel.: +0 20 550 6300<br>Fax: +0 20 580 6399</p>
								<p><a href="#">hello@domain.com</a></p>
							</div>
						</div><!-- /.content-left -->
					</div><!-- /.about-page-wrap -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="widget widget-brand">
							<div class="logo logo-footer">
								<a href="#"><img src="images/logo-footer.svg" alt="Good News"></a>
							</div>
							<p>This pays especially well in technology, where you earn a premium for working fast.</p>
						</div><!-- /.widget-brand -->
						<div class="widget widget-social">
							<h5 class="widget-title">Follow Us</h5>
							<div class="social-list">
								<a href="#"><img src="images/facebook.svg" alt="image"></a>
								<a href="#"><img src="images/twitter.svg" alt="image"></a>
								<a href="#"><img src="images/youtube.svg" alt="image"></a>
								<a href="#"><img src="images/dribbble.svg" alt="image"></a>
							</div>
							<a class="email" href="#">hello@youraddress.com</a>
						</div><!-- /.widget-social -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-4">
						<div class="widget widget-twitter">
							<h5 class="widget-title">Twitter</h5>
							<div class="latest-tweets" data-number="3" data-username="envato" data-modpath="./twitter/index.php"></div>
						</div><!-- /.widget-twitter -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-2">
						<div class="widget widget-list">
							<h5 class="widget-title">Main</h5>
							<ul class="links-list">
								<li><a href="#">Mustreads</a></li>
								<li><a href="#">Tech</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Entertainment</a></li>
								<li><a href="#">Social Media</a></li>
							</ul>
						</div><!-- /.widget-list -->
					</div><!-- /.col-md-2 -->
					<div class="col-md-2">
						<div class="widget widget-list">
							<h5 class="widget-title">About Us</h5>
							<ul class="links-list">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Our Team</a></li>
								<li><a href="#">Careers </a></li>
								<li><a href="#">Advertise</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div><!-- /.widget-list -->
					</div><!-- /.col-md-2 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-widgets -->
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						&copy; 2014 Good News, Inc.
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
	</footer>

	<!-- Go Top -->
	<a class="go-top">
		<i class="fa fa-chevron-up"></i>
	</a>
	
	<!-- Javascript -->
	<script type="text/javascript" src="javascript/jquery.min.js"></script>
	<script type="text/javascript" src="javascript/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascript/jquery.easing.js"></script>
	<script type="text/javascript" src="javascript/matchMedia.js"></script>
	<script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
	<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
	<script type="text/javascript" src="javascript/jquery.transit.js"></script>
	<script type="text/javascript" src="javascript/jquery.leanModal.min.js"></script>
	<script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/switcher.js"></script>
	<script type="text/javascript" src="javascript/jquery.doubletaptogo.js"></script>
	<script type="text/javascript" src="javascript/smoothscroll.js"></script>
	<script type="text/javascript" src="javascript/main.js"></script>
</body>

</html>